[submodule "LDC/lightweight-human-pose-estimation.pytorch"]
	path = LDC/lightweight-human-pose-estimation.pytorch
	url = https://github.com/Daniil-Osokin/lightweight-human-pose-estimation.pytorch.git
